/* styles the body of the page (text, background color etc.) */
body {
    background-color: #003300;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* styles the navigation of page */
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* styles the navigation of page */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* styles the navigation of page */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* styles the navigation of page */
  .topnav a.active {
    background-color: navy;
    color: white;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* two equal colums */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*  adds padding and centers text 
     https://www.w3schools.com/css/css_align.asp#:~:text=To%20just%20center%20the%20text,This%20text%20is%20centered.
    */
  .center {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    text-align: center;
  }
  
  /* removes the bullet point from the list
    https://www.computerhope.com/issues/ch001704.htm
    */
  .nodot {
    list-style: none;
  }
  
  /* centers the text */
  .timeline {
    text-align: center;
    color: yellow;
  }
  
  /* changes color */
  h1,
  footer {
    color: yellow;
  }
  
  /* changes color */
  h2 {
    color: orange;
  }
  
  /* changes color */
  figcaption,
  a {
    color: orange;
  }
  
  /* video size */
  iframe {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* For screens smaller than 768px */
  @media (max-width: 768px) {
    .center {
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 25px;
    }
  
    .column {
      width: 100%;
    }
  
    .topnav a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .timeline {
      font-size: 24px;
    }
  
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    figcaption {
      font-size: 16px;
    }
  }
  
  /* For screens less than 480px */
  @media (max-width: 480px) {
    .center {
      padding-right: 25px;
      padding-left: 25px;
    }
  
    .topnav a {
      padding: 10px;
      font-size: 14px;
    }
  
    .timeline {
      font-size: 18px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    figcaption {
      font-size: 14px;
    }
  }
  